<!DOCTYPE html>
<html>
<head>
	<title>Serial renamer</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
</head>
<body>
	<div class="container">
		{% block body "" %}
	</div>
	
</body>
</html>